@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6fb;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(103, 127, 204, 0.3);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #0a1f44;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #0a1f44;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data .name {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #081539;
  transition: 0.3s ease-in;
 margin-bottom: 10px;
}
.text-data .name::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom:2px;
  background-color: #0a1f44;
   transition: 0.3s ease;
}
.text-data .name:hover::after{
   width: 100%;
}
.text-data .name:hover{
  transform: scale(1.1);
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
}
.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #0a1f44;
  text-decoration: none;
  transition:  all 0.3s ease-in-out;
  opacity: 0.9;
  
}
.media-buttons .link:hover{
   box-shadow:0 8px 10px rgba(2, 8, 28, 0.3);
  transform: translateY(-5px) scale(1.1);
  opacity: 1;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #0a1f44;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover {
  color:  #0a1f44;
  background-color: #e0d8d8;
  transform: translateY(-2px) scale(1.1);
  border: 1px solid #0a1f44;
}
.profile-card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}
.data i {
  font-size: 18px;
  margin-right: 6px;
  color: blue;
}
.data:last-child {
  border-right: none;
}